<script id="passwordTemp" type="text/x-kendo-template">
    <div class="card mb-3">
        <div class="card-body">
            <form action="admin/#/dashboard/forms/form_post" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2" tabindex="-1">
                        <label class="d-block">旧密码：</label>
                        <input class="k-textbox w-100" name="oldpassword" type="password" placeholder="密码框" required data-required-msg="请输入旧密码！" pattern="[A-Za-z0-9]{6,20}" data-pattern-msg="请输入6-20个大小写字母或数字！">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2" tabindex="-1">
                        <label class="d-block"><strong class="k-required">*</strong>新密码：</label>
                        <input class="k-textbox w-100" name="newpassword" type="password" placeholder="密码框" required data-required-msg="请输入新密码！" pattern="[A-Za-z0-9]{6,20}" data-pattern-msg="请输入6-20个大小写字母或数字！">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2" tabindex="-1">
                        <label class="d-block"><strong class="k-required">*</strong>确认新密码：</label>
                        <input class="k-textbox w-100" name="confirmPassword" type="password" placeholder="密码框" required data-required-msg="请确认新密码！">
                    </div>




                </div>
                <p class="d-flex justify-content-center">
                    <button id="submitBtn" class="k-button k-button-lg k-state-selected mx-3" type="button">提 交</button>
                    <button class="k-button k-button-lg mx-3" type="reset">重 置</button>
                </p>
            </form>
        </div>
    </div>
</script>